html{
    font-family: "Nunito", sans-serif;
    font-size: 16px;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    max-width: 1200px;
    
    margin: 0 auto;
    padding: 0;
    
    color: #78a1bb;
    background-color: #eff9f2;

    display: flex;
    flex-direction: column;
}

/* Styles for the navigation bar on the top of the page*/
nav {
    /* border: 1px solid red; */
    background-color: #78a1bb;
    color: #eff9f2;
    display: flex;
    align-items: center;
    padding: 16px;
}

nav a {
    text-decoration: none;
    color: #eff9f2;
}

.navigation-items {
    display: flex; /*this flex display allows the list items to be horizontal*/
    list-style-type: none;
    padding: 0;
    align-items: center;
    margin-left: auto;
}

.navigation-item {
    margin: 8px;
}

/*****************************************************
*
* Styles for the main section on the top of the page
*
******************************************************/
main {
    /* margin: 0; */
}

.banner {
    /* border: 1px solid blue; */
    width: 100%;
    padding: 40px 0;
    
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
    display: flex;
    justify-content: center;

}

#banner-index {
    background-image: url("../img/montmartre-1-transparent.jpg");
}

#banner-contact{
    background-image: url("../img/montmartre-2-transparent.jpg");
}

#banner-resume{
    background-image: url("../img/montmartre-3-transparent.jpg");
}

.banner h1{
    font-size: 4rem;
    color: #78a1bb;
}

/* About me section */
#about-me {
    border: 1px solid red;
    width: 100%;
    margin-top: 30px;

    display: flex;
}

#about-me-text-container{
    border: 1px solid green;
    width: 60%;
    padding: 16px;
}

#about-me-img-container{
    border: 1px solid blue;
    width: 300%;
    /* width: 300px;
    height: 300px; */
    flex-shrink: 0;
    align-self: center;
}

#about-me-img-container img{
    width: 100%;
    height: 100%;
    border-radius: 20px;
}

/* Styles for the footer at the bottom of the page*/
footer {
    background-color: #78a1bb;
    color: #eff9f2;
    display: flex;
    align-items: center;
    padding: 16px;
}